MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB=coffee_staging
MYSQL_USER=coffee_user
MYSQL_PASSWORD=coffee_pass

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=coffee_warehouse
POSTGRES_USER=coffee_user
POSTGRES_PASSWORD=coffee_pass

MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB=coffee_intelligence

FRED_API_KEY=your_fred_api_key_here
PIPELINE_START_DATE=2016-01-01
